#!/usr/bin/env bash

# Make nano the default editor.
export EDITOR='nano';

# # Enable persistent REPL history for `node`.
# export NODE_REPL_HISTORY=~/.node_history;
# # Allow 32³ entries; the default is 1000.
# export NODE_REPL_HISTORY_SIZE='32768';
# # Use sloppy mode by default, matching web browsers.
# export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';
# Use iTerm session-based history files (macOS only)
case "$(uname -s)" in
    Darwin)
        export HISTFILE=~/.zsh_sessions/.zsh_history-${ITERM_SESSION_ID}
        ;;
    Linux)
        export HISTFILE=~/.zsh_history
        ;;
esac

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# Hide the “default interactive shell is now zsh” warning on macOS.
export BASH_SILENCE_DEPRECATION_WARNING=1;

# Enable virtualenvwrapper for Python
export PYENV_ROOT="$HOME/.pyenv"
export PYENV_VIRTUALENVWRAPPER_PREFER_PYVENV="true"
export WORKON_HOME=$HOME/.virtualenvs
export PROJECT_HOME=$HOME/projects
# Check OS to set paths correctly
case "$(uname -s)" in
    Darwin)
        export VIRTUALENVWRAPPER_PYTHON=/usr/local/bin/python3
        source /usr/local/bin/virtualenvwrapper.sh
        ;;
    Linux)
        export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python3
        source /usr/local/bin/virtualenvwrapper.sh
        ;;
esac

# For gnupg
export GUILE_LOAD_PATH="/usr/local/share/guile/site/3.0"
export GUILE_LOAD_COMPILED_PATH="/usr/local/lib/guile/3.0/site-ccache"
export GUILE_SYSTEM_EXTENSIONS_PATH="/usr/local/lib/guile/3.0/extensions"

# For NVM (Node Version Manager)
export NVM_DIR="$HOME/.nvm"